* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'General Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

button {
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    background-color: #11ab26;
    cursor: pointer;

    &:hover {
        background-color: #0b6818;
    }

    &:active {
        background-color: whitesmoke;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #0b6817;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4em;
    width: 100%;

    .nav-div-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.5em 0 1em;
        padding: 0.5em 0;

        a {
            height: 3em;

            img {
                height: 100%;
            }
        }
    }

    .nav-div {
        padding: 0.5em;
        padding-bottom: 10px;
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        &:hover {
            background-color: #189228;
        }

        a {
            color: whitesmoke;
            text-decoration: none;
        }
    }
}

.blank-div{
    width: 100%;
    height: 4em;
    background-color: rgba(255, 255, 255, 0);
}

.hero-section {
    height: 31em;
    background-image: url('/img/staende-hinten-ww.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .hero-div {
        width: 100%;
        padding: 2.5em 10vw;

        .text-div {
            width: fit-content;
            background-color: #189228aa;
            color: whitesmoke;
            border-radius: 1em;
            padding: 1.5em 2em;
        }
    }
}

.anfahrt-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 0 2em 0;
    gap: 4em;

    .anfahrt-description-div{
        width: min(100vw, max(70vw, 25em));
    }

    .anfahrt-div {
        width: min(100vw, max(70vw, 25em));
        height: min(31em, max(19em, 50vw));
        background-color: gainsboro;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 2em;
        border-radius: 2em;
    }
}

.sport-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    gap: 4em;

    .sport-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2em;
        width: 100%;
        flex-wrap: wrap;
        text-decoration: none;

        button {
            text-decoration: none;
            color: whitesmoke;
            background-color: #00000000;
            padding: 0;

            .disziplin-div {
                padding: 1em;
                width: max(10em, 20vw);
                height: max(10em, 12vw);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 2em;

                transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                position: relative;
                z-index: 1;

                &:hover{
                    transform: scale(1.05);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                    z-index: 10;
                }
            }

            #luge-div {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/LG.jpg');
                background-size: cover;
                background-position: center;
            }

            #lupi-div {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/LP.jpg');
                background-size: cover;
                background-position: center;
            }

            #bogen-div {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Bogen.jpg');
                background-size: cover;
                background-position-y: 30%;
            }

            #boeller-div {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Boeller.jpg');
                background-size: cover;
                background-position-y: 30%;
            }
        }
    }

    .description-div {
        width: min(100vw, max(70vw, 25em));
        div {
            width: 100%;
            display: none;
            margin: 0 0 1em 0;

            h3{
                margin-bottom: 1em;
            }
        }
        #general-description {
            display: block;
        }
    }
}

.footer-container{
    margin-top: 2em;
    background-color: #0b6818;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: top;
    justify-content:flex-start;
    height: fit-content;
    width: 100%;
    padding: 2em 4em;
    color: whitesmoke;

    .logo-div{
        padding: 0 2em 2em 0;
        img{
            width: 6em;
        }
    }

    .footer-main-div{
        display: flex;
        flex-direction: column;
        width: min(18em, 50vw);
        
        h3{
            margin-bottom: 1em;
        }

        .footer-sub-div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .list-div{
                ul{
                    list-style: none;
                    li{
                        a{
                            text-decoration: none;
                            color: whitesmoke;

                        }
                    }
                    li:not(:last-child){
                        margin-bottom: 1em;
                    }
                }
            }

            .link-div{
                color: whitesmoke;
                display: flex;
                flex-direction: column;
                justify-content: start;
                p{
                    margin-bottom: 1em;
                }
                a{
                    img{
                        width: 2em;
                    }
                }
            }
        }
    }
}
